---
import EnglishLayout from '../../layouts/EnglishLayout.astro'
---

<EnglishLayout title='Blog'>
  <h1 style={{ fontSize: '2rem', textAlign: 'center' }}>
    <strong>Blog is under construction.</strong>
  </h1>
</EnglishLayout>
