---
import BanglaLayout from '../../../layouts/BanglaLayout.astro'
---

<BanglaLayout title='ব্লগ'>
  <h1 style={{ fontSize: '2rem', textAlign: 'center' }}>
    <strong>ব্লগ তৈরি হচ্ছে।</strong>
  </h1>
</BanglaLayout>
