nav {
  margin-block: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-home {
  font-size: 1.4rem;
}

#header-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
